.pruebawidth {
  width: 40%;
}

.fondoheader {
  background-image: url("/imagenes/menheader.png"),
    url("/imagenes/fondoheader.png");
  background-size: cover;
  background-position: center 1cm;
  background-repeat: no-repeat;
  position: relative;
  height: auto;
  min-height: 100% !important;
}

body{
padding-top: 40px;
background-color: #0f161b;
}

.prueba11{
 
  bottom: 0%;
  position: fixed;
  margin: 8%;
  right: 0;
  z-index: 998;
  transform: scale(2);
  box-shadow: 0px 0px 5px 1px #9ed1f5;
  text-align: center;
}

#loading {
  -webkit-animation: rotation 6s infinite ease-out;
}

@-webkit-keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }

}


.imghamb{

  max-height: 90%;
  

}


.circle {
  width: 30px;
  height: 30px;
  background:rgb(255, 255, 255);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}


@media(max-width: 720px){
  .hide-0-to-720{
    display:none;
  }
  .center-720{
    transform: scale(1.6);
    position:relative;
    left: 5%;
  }
.rompefixed{
  position: sticky;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-around;
	min-height: 100px;
  z-index: 1;}


}

@media(min-width: 721px){
.desaparecer{
display: none;

}


}



.tamaño{

  position: relative;
  height: auto;
  min-height: 100% !important;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -5;
  
}

.fondonosotros{

background-color: #0f161bec;

}



.cardimg {
  max-width: 100%;
  height: auto;
}

.cardstyle {
  background-color: #0f161b;
  box-shadow: 15px 15px 24px -8px #9ed1f5;

}

.glass1 {
  background: rgba(255, 255, 255, 0.034);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.glassnav {
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

#gradient {
  height: 20%;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0));
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2em;
  display: flex;
  justify-content: center;
}

.texto1card {
  font-size: calc(12px + 1.5vw);
}

.texto2card {
  font-size: calc(10.5px + 0.8vw);
}

#flechita {
  font-size: 50px;
  color: rgb(43, 41, 41);
  transition: 0.3s;
}

#flechita:hover {
  color: rgb(206, 209, 212);
  font-size: 60px;
}

/* INICIA CODIGO PARA LOGO*/

.logo {
  position: relative;
  transform: scale(0.3);
  left: -35px;
}

.parlgrm {
  width: 20px;
  height: 50px;
  transform: skew(0deg, 30deg);
  background: #025e59;
  position: absolute;
}

.rombo {
  width: 22px;
  height: 22px;
  position: absolute;
  transform: rotate(135deg) skew(15deg, 15deg);
  background: #025e59;
  top: -16.5px;
  left: 8.5px;
}

.palo1 {
  position: absolute;
  transform: rotate(120deg);
  top: -10px;
  left: 84px;
}

.parlgrm1 {
  width: 20px;
  height: 50px;
  transform: skew(0deg, 30deg);
  background: #015c9d;
  position: absolute;
}

.rombo1 {
  width: 22px;
  height: 22px;
  position: absolute;
  transform: rotate(135deg) skew(15deg, 15deg);
  background: #015c9d;
  top: -16.5px;
  left: 8.5px;
}

.palo2 {
  position: absolute;
  transform: rotate(240deg);
  top: 68px;
  left: 51px;
}

.parlgrm2 {
  width: 20px;
  height: 50px;
  transform: skew(0deg, 30deg);
  background: #331e2d;
  position: absolute;
}

.rombo2 {
  width: 22px;
  height: 22px;
  position: absolute;
  transform: rotate(135deg) skew(15deg, 15deg);
  background: #331e2d;
  top: -16.5px;
  left: 8.5px;
}

/* FIN CODIGO PARA LOGO*/
