.pruebawidth{
    width: 40%;
}


.fondoheader{
    background-image: 
    url("/Web/imagenes/menheader.png"),
    url("/Web/imagenes/fondoheader.png");
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed
    }
    
.glass1{
    background: rgba(255, 255, 255, 0.048);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
}
