.pruebawidth{
    width: 40%;
}


.fondoheader{
    background-image: 
    url("/Web/imagenes/menheader.png"),
    url("/Web/imagenes/fondoheader.png");
    background-size:cover;
    background-position: center 1cm; 
    background-repeat: no-repeat; 
    
    }
    
.glass1{
    background: rgba(255, 255, 255, 0.034);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
}

.glassnav{
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
}



#gradient{
    height: 20%;
    background-image: linear-gradient(rgba(255, 255, 255, 0),rgb(0, 0, 0));
    position: absolute;
left: 0; 
right: 0;
bottom: 0em; 
padding: 2em;

display: flex;
justify-content: center;
}

#flechita{
    font-size: 50px;
    color: rgb(43, 41, 41);
    transition: 0.3s;
}



#flechita:hover{
color: rgb(206, 209, 212);
font-size: 60px;

}


/* INICIA CODIGO PARA LOGO*/

.logo{
    position: relative;
    transform: scale(0.3);
    left: -35px;
    
}

.parlgrm {
    width: 20px;
    height: 50px;
    transform: skew(0deg,30deg);
    background: #025e59;
    position: absolute;
    }

.rombo {
    width: 22px;
    height: 22px;
    position: absolute;
    transform: rotate(135deg) skew(15deg,15deg);
    background: #025e59;
    top: -16.5px;
left: 8.5px;
}

.palo1{
    position: absolute;
    transform: rotate(119deg);
    top: -10px;
    left: 82px;
}

.parlgrm1 {
    width: 20px;
    height: 50px;
    transform: skew(0deg,30deg);
    background: 
    #015c9d;
    position: absolute;
    }

.rombo1 {
    width: 22px;
    height: 22px;
    position: absolute;
    transform: rotate(135deg) skew(15deg,15deg);
    background: 
    #015c9d;
    top: -16.5px;
left: 8.5px;
}

.palo2{
    position: absolute;
    transform: rotate(239deg);
    top: 67px;
    left: 50px;
}

.parlgrm2 {
    width: 20px;
    height: 50px;
    transform: skew(0deg,30deg);
    background: #331e2d;
    position: absolute;
    }

.rombo2 {
    width: 22px;
    height: 22px;
    position: absolute;
    transform: rotate(135deg) skew(15deg,15deg);
    background: #331e2d;
    top: -16.5px;
left: 8.5px;
}

/* FIN CODIGO PARA LOGO*/